<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>자세히 보기</title>
    </head>
    <body>
        <h1 th:text="${menu.coffee}"></h1>
        <p th:text="${menu.description}"></p>
        <p th:text="${menu.size}"></p>
        <p th:text="${menu.price}"></p>
        <p th:text="${menu.hotORice}"></p>

        <a th:href="@{/menu/edit/{id}(id=${menu.id})}">수정</a>
        <a th:href="@{/menu/del/{id}(id=${menu.id})}">삭제</a>
    </body>
</html>