<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>coffee menu</title>
    </head>
    <body>
        <div id="web">
            <div id="menu-header">
                <header>
                    <h1>coffee menu</h1>
                    <div class="nav-list">
                        <ul class="menu">
                            <li>
                                <a th:href="@{/}">coffee1</a>
                                <div class="sub-menu">
                                    <a th:href="@{/}"></a>
                                    <a th:href="@{/}"></a>
                                    <a th:href="@{/}"></a>
                                    <a th:href="@{/}"></a>
                                </div>
                            </li>
                            <li>
                                <a th:href="@{/}">coffee2</a>
                                <div class="sub-menu">
                                    <a th:href="@{/}"></a>
                                    <a th:href="@{/}"></a>
                                    <a th:href="@{/}"></a>
                                    <a th:href="@{/}"></a>
                                </div>
                            </li>
                            <li>
                                <a th:href="@{/}">coffee3</a>
                                <div class="sub-menu">
                                    <a th:href="@{/}"></a>
                                    <a th:href="@{/}"></a>
                                    <a th:href="@{/}"></a>
                                    <a th:href="@{/}"></a>
                                </div>
                            </li>
                            <li>
                                <a th:href="@{/}">coffee4</a>
                                <div class="sub-menu">
                                    <a th:href="@{/}"></a>
                                    <a th:href="@{/}"></a>
                                    <a th:href="@{/}"></a>
                                    <a th:href="@{/}"></a>
                                </div>
                            </li>
                            <li>
                                <a th:href="@{/}">coffee5</a>
                                <div class="sub-menu">
                                    <a th:href="@{/}"></a>
                                    <a th:href="@{/}"></a>
                                    <a th:href="@{/}"></a>
                                    <a th:href="@{/}"></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </header>
            </div>

            <div id="menu-body">
                <div id="slide"></div>
            </div>

            <div id="contents">
                <div class="notice">
                    <div class="tab-inner">
                        <div class="tab1">
                            <span>게시판</span>
                            <a th:href="@{/}"></a>
                            <a th:href="@{/}"></a>
                            <a th:href="@{/}"></a>
                            <a th:href="@{/}"></a>
                            <a th:href="@{/}"></a>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </body>
</html>